* {
   padding: 0;
   margin: 0;
}

body {
   background: linear-gradient(blue, pink);
   display: flex;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

h1 {
   text-align: center;
   text-transform: uppercase;
   color: #eee;
}

.task-list {
   width: 500px;
}

#start-message {
   margin: 10px;
}

.task {
   display: flex;
   align-items: center;
   border: 1px solid gray;
   padding: 3px 8px;
   margin: 2px 10px;
}

.task p {
   margin-left: 4px;
}

.completed {
   background-color: green;
   color: white;
}

.completed p {
   text-decoration: line-through;
}

.input-panel {
   width: 500px;
   margin: 8px;
   padding: 2px;
}

.input-panel button {
   padding: 4px;
   width: 25%;
}

.input-panel input {
   height: 23px;
   padding-left: 4px;
   width: 68%;
}